/* Основное */

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --main-background-color: #fff;
    --hero-background-color: #2F303A;
    --hero-title-color: #fff;
    --accent-text-color: #2196F3;
    --team-background-color: #F5F4FA;
    --team-icon-color: #AFB1B8;
    --join-icon-color: #fff;
    --join-link-bgc: rgba(255, 255, 255, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .section{
      padding-top: 94px;
      padding-bottom: 94px;
  }

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

body{
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.list{
    list-style: none;
}

/* Хэдэр */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
}

.header-contacts{
    display: flex;
    margin-left: auto;
    align-items: baseline;
}

.nav{
    display: flex;
    align-items: center;
}

.contact-item:not(:last-child){
    margin-right: 50px;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-container{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 50px;
}

.header-logo{
    text-decoration: none;
    display: flex;
    margin-right: 93px;
}

.logo-web{
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em; 
}

.logo-studio{
    color: var(--title-text-color) ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 00.03em; 
}

.nav-part{
    color: var(--title-text-color);    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-part:hover,
.nav-part:focus{
    color: var(--accent-text-color);
}

.contacts-part{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-part:hover,
.contacts-part:focus{
    color: var(--accent-text-color);
}

.c-icon-one{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--team-icon-color);
}

.c-icon-two{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--team-icon-color);
}

.contacts-part:hover .contact-icon,
.contacts-part:focus .contact-icon{
    fill: var(--accent-text-color);
}

/* Футер */

.footer{
    background-color: var(--hero-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-nav{
    margin-bottom: 9px;
}

.web-studio-footer{
    margin-bottom: 20px;
}

.footer-logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
}

.footer-logo{
    text-decoration: none;
}

.footer-link-map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}

.footer-link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.f-link:hover,
.f-link:focus{
    color: var(--accent-text-color);
}

.join-list{
    display: flex;
    justify-content: center;
}

.join-link{
    width: 44px;
    height: 44px;
    background-color: var(--join-link-bgc);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 16px;
}

.join-link:hover,
.join-link:focus{
    background-color: var(--accent-text-color);
}

.join-link:hover .join-link-icon,
.join-link:focus .join-link-icon{
    fill: #fff;
}

.join-link-icon{
    width: 20px;
    height: 20px;
    fill: var(--main-background-color);
}

.join-contacts-part:not(:last-child){
    margin-right: 10px;
}

.footer > .container{
    display: flex;
    align-items: baseline;
}

.footer-join{
    margin-left: 70px;
}

.join-text{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
}

/* index.html */

/* Герой */

.hero{
    background-color: var(--hero-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-jpeg.jpg);
    padding-top: 200px;
    padding-bottom: 200px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.hero-title{
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    background-color: #2196F3;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Особенности */

.main-qualities{
    display: flex;
    justify-content: space-between;
}

.quality{
    max-width: 270px;
}

.first-quality::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/antenna\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.second-quality::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.third-quality::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.fourth-quality::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.quality:not(:last-child){
    margin-right: 30px;
}

.hidden-one{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-qualities-head{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.main-qualities-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.qualities{
    padding-bottom: 47px;
}

/* Род занятий */

.activity-image:not(:last-child){
    margin-right: 30px;
}

.activity{
    padding-top: 47px;
}

.section-title{
    margin-bottom: 50px;
}

.activity-images{
    display: flex;
    justify-content: space-between;
}

/* Наша команда */

.t-img{
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-images{
    display: flex;
    justify-content:space-between ;
}

.section-team{
    background-color: var(--team-background-color);  
}

.t-img:not(:last-child){
    margin-right: 30px;
}

.team-images-head{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.team-images-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    
}

.team-names{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-contacts{
    display: flex;
    justify-content: center;
}

.team-link{
    width: 44px;
    height: 44px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 16px;
}

.team-link:hover,
.team-link:focus{
    background-color: var(--accent-text-color);
}

.team-link:hover .team-link-icon,
.team-link:focus .team-link-icon{
    fill: #fff;
}

.team-link-icon{
    width: 20px;
    height: 20px;
    fill: var(--team-icon-color);
}

.team-contacts-part:not(:last-child){
    margin-right: 10px;
}

/* Клиенты */

.clients-list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.clients-list-part{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.clients-list-part:not(:last-child){
    margin-right: 30px;
}

.client-icon{
    width: 106px;
    height: 60px;
    fill: var(--team-icon-color);
}

.clients-list-part:hover,
.clients-list-part:focus{
    border-color: var(--accent-text-color);
}

.clients-list-part:hover .client-icon,
.clients-list-part:focus .client-icon{
    fill: var(--accent-text-color);
}

/* portfolio-html */

.p-hidden-one,
.p-hidden-two,
.p-hidden-three{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.p-sort-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}

.p-buttons{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.p-button:not(:last-child){
    margin-right: 8px;
}

.p-sort-button:hover,
.p-sort-button:focus{
    color: #fff;
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.info{
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.p-img:not(:nth-child(3n + 3)){
    margin-right: 30px;
}

.p-img:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

.p-head{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.p-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.p-main-images{
    display: flex;
    flex-wrap: wrap;
}

.p-img-link{
    text-decoration: none;
}

.p-img:hover,
.p-img:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}