/* Основное */

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --main-background-color: #fff;
    --hero-background-color: #2F303A;
    --hero-title-color: #fff;
    --accent-text-color: #2196F3;
    --team-background-color: #F5F4FA;
    --team-icon-color: #AFB1B8;
    --join-icon-color: #fff;
    --join-link-bgc: rgba(255, 255, 255, 0.1);
    --primary-tzn-duration: 250ms;
    --primary-tzn-tfunction: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .section{
      padding-top: 94px;
      padding-bottom: 94px;
  }

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

body{
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.list{
    list-style: none;
}

a,
svg,
button{
    transition-duration: var(--primary-tzn-duration);
    transition-timing-function: var(--primary-tzn-tfunction);
}

.p-img{
    transition-duration: var(--primary-tzn-duration);
    transition-timing-function: var(--primary-tzn-tfunction);
}

.modal{
        transition-duration: var(--primary-tzn-duration);
        transition-timing-function: var(--primary-tzn-tfunction);
}

/* Хэдэр */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
    height: 80px;
}

.header-contacts{
    display: flex;
    margin-left: auto;
    align-items: baseline;
}

.nav{
    display: flex;
    align-items: center;
}

.contact-item:not(:last-child){
    margin-right: 50px;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-container{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 50px;
}

.header-logo{
    text-decoration: none;
    display: flex;
    margin-right: 93px;
}

.logo-web{
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em; 
}

.logo-studio{
    color: var(--title-text-color) ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 00.03em; 
}

.nav-part{
    color: var(--title-text-color);    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-part:hover,
.nav-part:focus{
    color: var(--accent-text-color);
}

.contacts-part{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-part:hover,
.contacts-part:focus{
    color: var(--accent-text-color);
}

.c-icon-one{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--team-icon-color);
}

.c-icon-two{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--team-icon-color);
}

.contacts-part:hover .contact-icon,
.contacts-part:focus .contact-icon{
    fill: var(--accent-text-color);
}

.main-page{
    color: var(--accent-text-color);
    position: relative;
}

.main-page::after{
    content:'';
    position: absolute;
    width: 48.63px;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    left: 0;
    top: 45px;
}

.portfolio-page{
    color: var(--accent-text-color);
    position: relative;
}

.portfolio-page::after{
    content:'';
    position: absolute;
    width: 76.66px;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    left: 0;
    top: 45px;
}

/* Футер */

.footer{
    background-color: var(--hero-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-nav{
    margin-bottom: 9px;
}

.web-studio-footer{
    margin-bottom: 20px;
}

.footer-logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
}

.footer-logo{
    text-decoration: none;
}

.footer-link-map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}

.footer-link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.f-link:hover,
.f-link:focus{
    color: var(--accent-text-color);
}

.join-list{
    display: flex;
    justify-content: center;
}

.join-link{
    width: 44px;
    height: 44px;
    background-color: var(--join-link-bgc);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 16px;
}

.join-link:hover,
.join-link:focus{
    background-color: var(--accent-text-color);
}

.join-link:hover .join-link-icon,
.join-link:focus .join-link-icon{
    fill: #fff;
}

.join-link-icon{
    width: 20px;
    height: 20px;
    fill: var(--main-background-color);
}

.join-contacts-part:not(:last-child){
    margin-right: 10px;
}

.footer > .container{
    display: flex;
    align-items: baseline;
}

.footer-join{
    margin-left: 70px;
}

.join-text{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
}

/* index.html */

/* Герой */

.hero{
    background-color: var(--hero-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-jpeg.jpg);
    padding-top: 200px;
    padding-bottom: 200px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.hero-title{
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    background-color: #2196F3;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Особенности */

.main-qualities{
    display: flex;
    justify-content: space-between;
}

.quality{
    max-width: 270px;
}

.first-quality::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/antenna\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.second-quality::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.third-quality::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.fourth-quality::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.quality:not(:last-child){
    margin-right: 30px;
}

.hidden-one{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-qualities-head{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.main-qualities-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.qualities{
    padding-bottom: 47px;
}

/* Род занятий */

.activity-image:not(:last-child){
    margin-right: 30px;
}

.activity{
    padding-top: 47px;
}

.section-title{
    margin-bottom: 50px;
}

.activity-images{
    display: flex;
    justify-content: space-between;
}

.activity-image{
    position: relative;
    display: flex;
}

.activity-text{
    display: flex;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

/* Наша команда */

.t-img{
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-images{
    display: flex;
    justify-content:space-between ;
}

.section-team{
    background-color: var(--team-background-color);  
}

.t-img:not(:last-child){
    margin-right: 30px;
}

.team-images-head{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.team-images-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    
}

.team-names{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-contacts{
    display: flex;
    justify-content: center;
}

.team-link{
    width: 44px;
    height: 44px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 16px;
}

.team-link:hover,
.team-link:focus{
    background-color: var(--accent-text-color);
}

.team-link:hover .team-link-icon,
.team-link:focus .team-link-icon{
    fill: #fff;
}

.team-link-icon{
    width: 20px;
    height: 20px;
    fill: var(--team-icon-color);
}

.team-contacts-part:not(:last-child){
    margin-right: 10px;
}

/* Клиенты */

.clients-list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.client-link{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-list-part:not(:last-child){
    margin-right: 30px;
}

.client-icon{
    width: 106px;
    height: 60px;
    fill: var(--team-icon-color);
}

.client-link:hover,
.client-link:focus{
    border-color: var(--accent-text-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon{
    fill: var(--accent-text-color);
}

/* portfolio-html */

.p-hidden-one,
.p-hidden-two,
.p-hidden-three{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.p-sort-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}

.p-buttons{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.p-button:not(:last-child){
    margin-right: 8px;
}

.p-sort-button:hover,
.p-sort-button:focus{
    color: #fff;
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.info{
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.p-img:not(:nth-child(3n + 3)){
    margin-right: 30px;
}

.p-img:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

.p-head{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.p-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.p-main-images{
    display: flex;
    flex-wrap: wrap;
}

.p-img-link{
    text-decoration: none;
}

.p-img:hover,
.p-img:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-img{
    display: block;
}

.card-info-text{
    display: inline-block;
    margin: 0;
}

.thumb{
    position: relative;
    overflow: hidden;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: var(--primary-tzn-duration);
    transition-timing-function: var(--primary-tzn-tfunction);
  }

  .thumb:hover .card-info,
  .thumb:focus .card-info {
    transform: translateY(0);
  }

  .card-info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  
    color: #fff;
  }

/* Модалка */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 528px;
    height: 581px;
    background-color: rgba(0, 0, 0, 0.2);;
    width: 100%;
    height: 100%;
}

.modal{
    width: 528px; 
    height: 581px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
}

.modal-button{
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: #fff;
    background-image: url(../images/svg/close.svg);
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .is-hidden,
  .modal,
  .backdrop{
    transition-duration: var(--primary-tzn-duration);
    transition-timing-function: var(--primary-tzn-tfunction);
}

.modal-forms{
    padding: 40px;
}

.forms-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.label-name{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.input-name{
    width: 448px;
    margin-top: 4px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: none;
}

.modal-forms{
    display: block;
    width: 528px;
    height: 581px;
}

.form-labels{
    display: block;
}

.user-info{
    margin-bottom: 10px;
    position: relative;
}

.form-container{
    display: block;
    max-width: 448px;
}

.form-agreement{
    display: flex;
    justify-content: center;
}

.form-content{
    display: flex;
}

.comment{
    width: 448px;
    height: 120px;
    resize: none;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.form-field{
    display: block;
}

.form-button{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    justify-content: center;
    cursor: pointer;
}

.form-button:hover,
.form-button:focus{
    background-color: #188CE8;;
}

.form-button-container{
    display: flex;
    justify-content: center;
}

.checkbox-container{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    align-items: center;
    display: flex;
    justify-content: center;
}

.check-icon{
    width: 16px;
    height: 15px;
    opacity: 0;
    position: absolute;
}

.agreement:checked + .agree-icon .check-icon{
    opacity: 1;
    transition-duration: var(--primary-tzn-duration);
    transition-timing-function: var(--primary-tzn-tfunction);
}

.agreement:checked + .agree-icon{
    border-color: #2196F3;
    background-color: #2196F3;
    transition-duration: var(--primary-tzn-duration);
    transition-timing-function: var(--primary-tzn-tfunction);
}

.agreement{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.agreement-link{
    color: var(--accent-text-color);
}

.agree-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8.36px;;
    border: 2px solid;
    border-color: #212121;
    border-radius: 4px;
    cursor: pointer; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.name-form-icon{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 15px;
    bottom: 14px;
}

.tel-form-icon{
    position: absolute;
    width: 13px;
    height: 13px;
    left: 14.27px;
    bottom: 13.74px;
}

.mail-form-icon{
    position: absolute;
    width: 15px;
    height: 12px;
    left: 13.5px;
    bottom: 14px;
}

.input-name:focus{
    border: 1px solid #2196F3;
    transition-duration: var(--primary-tzn-duration);
    transition-timing-function: var(--primary-tzn-tfunction);
}

.comment:focus{
    border: 1px solid #2196F3;
    transition-duration: var(--primary-tzn-duration);
    transition-timing-function: var(--primary-tzn-tfunction);
}

.comment::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5)
}

.input-name:focus-within + .input-icon .form-icon {
    fill: #2196F3;
  }