/* Основное */

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --main-background-color: #fff;
    --hero-background-color: #2F303A;
    --hero-title-color: #fff;
    --accent-text-color: #2196F3;
    --team-background-color: #F5F4FA;
}

body{
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.list{
    list-style: none;
}

/* Хэдэр */

.header-logo{
    text-decoration: none;
}

.logo-web{
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em; 
}

.logo-studio{
    color: var(--title-text-color) ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 00.03em; 
}

.nav-part{
    color: var(--title-text-color);    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-part:hover,
.nav-part:focus{
    color: var(--accent-text-color);
}

.contacts-part{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-part:hover,
.contacts-part:focus{
    color: var(--accent-text-color);
}

/* Футер */

.footer{
    background-color: var(--hero-background-color);
}

.footer-logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
}

.footer-logo{
    text-decoration: none;
}

.footer-link-map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}

.footer-link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.f-link:hover,
.f-link:focus{
    color: var(--accent-text-color);
}

/* index.html */

/* Герой */

.hero{
    background-color: var(--hero-background-color);
}

.hero-title{
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    background-color: #2196F3;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
    background: #188CE8;
}

/* Особенности */

.hidden-one{
    display: none;
}

.main-qualities-head{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.main-qualities-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* Род занятий */

/* Наша команда */

.section-team{
    background-color: var(--team-background-color);
}

.team-images-head{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-images-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* portfolio-html */

.p-hidden-one,
.p-hidden-two,
.p-hidden-three{
    display: none;
}

.p-sort-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}

.p-sort-button:hover,
.p-sort-button:focus{
    color: #fff;
    background-color: var(--accent-text-color);
}

.p-head{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.p-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}