// -=-> КЛИЕНТЫ

.clients-section{
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients{
    max-width: 480px;
}

.clients__title{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.clients__links{
    margin-right: 15px;
    margin-left: 15px;
}


.clients-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    max-width: 450px;
}

.clients-list__link{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: auto;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus{
        border-color: var(--accent-text-color);
    }
    &:hover .clients-list__icon, &:focus .clients-list__icon{
        fill: var(--accent-text-color);
    }
}

.clients-list__icon{
    width: 106px;
    height: 60px;
    fill: var(--team-icon-color);
}

.clients-list__part{
    width: calc((100% - 1 * 30px) / 2);
    &:nth-child(2n-1){
        margin-right: 30px;
    }
    &:nth-child(-n+4){
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px){
    .clients-list__link{
        width: 226px;
        height: 92px;
    }

    .clients__links{
        margin-right: 0px;
        margin-left: 0px;
    }

    .clients{
        max-width: 768px;
    }

    .clients-list{
        max-width: 768px;
    }

    .clients-list__part{
        width: 226px;
        &:nth-child(2n-1){
            margin-right: 0px;
        }
        &:nth-child(-n+4){
            margin-bottom: 0px;
        }
        &:nth-child(3n+1){
            margin-right: 30px;
        }
        &:nth-child(3n+2){
            margin-right: 30px;
        }
        &:nth-child(-n+3){
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 1200px){
    .clients-list__link{
        width: 170px;
        height: 92px;
    }

    .clients__links{
        margin-right: 0px;
        margin-left: 0px;
    }

    .clients{
        max-width: 1200px;
    }

    .clients-list{
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        justify-content: center;
        max-width: 1200px;
    }

    .clients-list__part{
        &:nth-child(2n-1){
            margin-right: 0px;
        }
        &:nth-child(-n+4){
            margin-bottom: 0px;
        }
        &:nth-child(3n+1){
            margin-right: 0px;
        }
        &:nth-child(3n+2){
            margin-right: 0px;
        }
        &:nth-child(-n+3){
            margin-bottom: 0px;
        }
        &:not(:last-child){
            margin-right: 30px;
        }
    }

    .clients__title{
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
    
    .clients-section{
        padding-top: 94px;
        padding-bottom: 94px;
    }
}