// -=-> ХЭДЭР

.header{
    display: block;
    width: 480px;
    height: 60px;
    border-bottom: 1px solid #ECECEC;
}

.header--modifier{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}

.nav__logo{
    text-decoration: none;
    display: flex;
}

.nav__logoweb{
    
}

