// -=-> ХЭДЭР

.header{
    position: relative;
    display: block;
    width: 480px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header--modifier{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    height: 40px;
    width: 480px;
}

.nav__logo{
    text-decoration: none;
    display: flex;
    margin-left: 15px;
}

.nav__logoweb{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-logo-color);
}

.nav__logostudio{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &:hover .header-button__burger, &:focus .header-button__burger{
        transition-duration: var(--primary-tzn-duration);
        transition-timing-function: var(--primary-tzn-tfunction);
        fill: var(--accent-text-color);
    }
}

// navigation----
.site-nav{
    display: none;
}

.site-contacts{
    display: none;
}
// ---------------

.header__menu{
    margin-right: 10px;
}

.header-button__menu{
    width: 24px;
    height: 16px;
}

.mobile-menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.mobile-menu__container{
    position: relative;
    display: block;
    width: 480px;
    height: 796px;
    background-color: white;
    padding: 48px 40px; 

}

.mobile-menu-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    top: 21px;
    right: 25.3px;
    &:hover .mobile-menu__icon, &:focus .mobile-menu__icon{
        fill: var(--accent-logo-color);
        transition-duration: var(--primary-tzn-duration);
        transition-timing-function: var(--primary-tzn-tfunction);
    }
}

.mobile-menu__icon{
    width: 18.7px;
    height: 18.7px;
}

.mobile-nav{
    display: block;
}

.mobile-nav__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    &:hover, &:focus{
        color: var(--accent-text-color);
    }
}

.mobile-nav__part:not(:last-child){
    margin-bottom: 32px;
}

.modal__nav{
    margin-bottom: 302px;
}

.mobile-contacts{
    display: block;
}

.modal__contacts{
    margin-bottom: 64px;
}

.mobile-contacts__part:first-child{
    margin-bottom: 32px;
}

.mobile-menu--number{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    text-decoration: none;
}

.mobile-menu--mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    &:hover, &:focus{
        color: var(--accent-text-color);
    }
}

.mobile-socials{
    display: flex;
}

.mobile-socials__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    text-decoration: none;
}

.mobile-socials__part:not(:last-child){
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 9px;
}

@media screen and (min-width: 768px){
    .header{
        padding-top: 21px;
        padding-bottom: 21px;
        height: 80px;
        min-width: 768px;
        width: 100%;
    }
    .header--modifier{
        height: 38px;
    }
    .nav{
        height: 38px;
        width: 768px;
    }
    .header-button{
        display: none;
    }
    .site-nav{
        display: flex;
        align-items: center;
        margin-left: 88px;
    }
    .site-nav__item{
        &:not(:last-child){
        margin-right: 50px;
        }
    }
    .site-nav__part{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
        &:hover, &:focus{
            color: var(--accent-text-color);
        }
    }
    .main-page--modifier{
        color: var(--accent-text-color);
        position: relative;
        &::after{
            content:'';
            position: absolute;
            width: 48.63px;
            height: 4px;
            background-color: var(--accent-text-color);
            border-radius: 2px;
            left: 0;
            top: 45px;  
        }
    }
    .site-contacts{
        display: block;
    }
    .nav__contacts{
        margin-left: auto;
        margin-right: 15px;
        width: 138px;
        height: 38px;
    }
    .site-contacts__item{
        &:not(:last-child){
        margin-bottom: 10px;
        }
    }
    .site-contacts__part{
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover, &:focus{
            color: var(--accent-text-color);
        }
        &:hover .site-contacts__icon, &:focus .site-contacts__icon{
            fill: var(--accent-text-color);
        }
    }
    .nav--first-icon{
        width: 14px;
        height: 10px;
        margin-right: 8px;
        fill: var(--team-icon-color);
    }
    .nav--second-icon{
        width: 10px;
        height: 14px;
        margin-right: 8px;
        fill: var(--team-icon-color);
    }
}

