// -=-> ХЭДЭР

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
    height: 80px;
}

.header-contacts{
    display: flex;
    margin-left: auto;
    align-items: baseline;
}

.nav{
    display: flex;
    align-items: center;
}

.contact-item{
    &:not(:last-child){
    margin-right: 50px;
    }
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-container{
    display: flex;
    align-items: center;
}

.nav-item{
    &:not(:last-child){
    margin-right: 50px;
    }
}

.header-logo{
    text-decoration: none;
    display: flex;
    margin-right: 93px;
}

.logo-web{
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em; 
}

.logo-studio{
    color: var(--title-text-color) ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 00.03em; 
}

.nav-part{
    color: var(--title-text-color);    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    &:hover, &:focus{
        color: var(--accent-text-color);
    }
}

.contacts-part{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    &:hover, &:focus{
        color: var(--accent-text-color);
    }
    &:hover .contact-icon, &:focus .contact-icon{
        fill: var(--accent-text-color);
    }
}

.c-icon-one{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--team-icon-color);
}

.c-icon-two{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--team-icon-color);
}

.main-page{
    color: var(--accent-text-color);
    position: relative;
    &::after{
        content:'';
        position: absolute;
        width: 48.63px;
        height: 4px;
        background-color: var(--accent-text-color);
        border-radius: 2px;
        left: 0;
        top: 45px;  
    }
}