// -=-> ОСОБЕННОСТИ

.main-qualities{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quality-section__container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-qualities__part{
    width: 450px;
    &:not(:last-child){
        margin-bottom: 30px;
    }
    &:last-child{
        padding-bottom: 0px;
    }
}

.first-quality--modifier{
    &::before{
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/antenna1.svg);
    background-repeat: no-repeat;
    background-position: center;
    }
}
   
.second-quality--modifier{
    &::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/clock1.svg);
    background-repeat: no-repeat;
    background-position: center;
    }
}

.third-quality--modifier{
    &::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/diagram1.svg);
    background-repeat: no-repeat;
    background-position: center;
    }
}

.fourth-quality--modifier{
    &::before{
    display: block;
    height: 120px;
    content: '';
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/astronaut1.svg);
    background-repeat: no-repeat;
    background-position: center;
    }
}

.main-qualities__head{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;
}

.main-qualities__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

@media screen and (min-width: 768px){
    .main-qualities{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: normal;
        flex-wrap: wrap;
        width: 100%;
    }

    .main-qualities__part{
        width: 354px;
        &:first-child{
            margin-right: 30px;
        }
        &:nth-child(2n+1){
            margin-right: 30px;
        }
        &:last-child{
            padding-bottom: 0px;
        }
    }

    .quality-section__container{
        padding-top: 60px;
        width: 760px;
    }
    
}

@media screen and (min-width: 1200px){
    .main-qualities{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: normal;
        flex-wrap: nowrap;
        width: 100%;
    }

    .main-qualities__part{
        width: 270px;
        &:not(:last-child){
            margin-right: 30px;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }

    .quality-section__container{
        padding-top: 60px;
        width: 1170px;
    }   

    .main-qualities__head{
        text-align: start;
    }
}
